*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: #000;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.4rem;
    background: #fff;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

input,
button,
textarea,
select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


textarea {
    resize: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}